h1{
    text-align: center;
}
table td{
    border: solid ;
}
.izquierda{
    display: flex;
    max-width: 1200px;
    margin-left: 20%;
    margin-top: 1%;
    border: solid;
    padding: 5px;
    
}
.derecha{
    display: flex;
    max-width: 1200px;
    margin-left: 20%;
    margin-top: 1%;
    border: solid;
    padding: 5px;
}
img{
    max-width: 400px;
    max-width: 400px;
    padding: 30px;
}
.padre{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    
}
.derecha p{
    margin-top: 30px;
}
.hijo1{
    padding: 5px;
}
.hijo2{
    padding: 5px;
}
.tablas{
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}